<div class="row">
  <div class="col-lg-12 text-center">
    <h1>About Us</h1>
    <p class="lead">
      The Amazons of DC Comics are a race of warrior women who exist as part of Greek mythology. They live on Paradise Island, later known as Themyscira, an isolated location in the middle of the ocean where they are hidden from Man's World (rest of the world).

      Depending on the origin story, they are the creation of Aphrodite or were created from clay by a coterie of Olympian gods over three thousand years ago to serve as their messengers to the world in the name of peace and justice. For centuries, the women thrived in safety and security apart from a hostile, male-dominated world. As long as Amazons remain on Themyscira they do not age. Circumstances involving the unexpected arrival of Steve Trevor forced their existence to be revealed to the modern world.[1][2]

      There have been numerous incarnations of these Amazons after Marston's original depictions: Robert Kanigher's revised depiction (highlighted by the change of Queen Hippolyta's hair from brunette to blonde), George Pérez's reworking following the Crisis, and changes subsequent to Infinite Crisis and The New 52. What these groups have in common is that they are the people from which came DC Comics' superheroine Wonder Woman.
    </p>

    </ul>
  </div>
</div>