<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Contact Us</h1>
    <p class="lead">
      The Next.js framework utilizes JAMstack architecture, which distinguishes between front-end and back-end and allows for efficient front-end development that is independent of any back-end APIs.[1] The framework supports common CSS as well as precompiled Scss and Sass, CSS-in-JS, and styled JSX.[11] In addition, it is built with TypeScript support and smart bundling.[20] The open source transpiler Babel is used to transform and compile code into JavaScript usable by a browser. Webpack, another open-source tool, is used to bundle the modules afterwards. All of these tools are used with npm in a terminal.[12]

      The main feature of Next.js is its use of server-side rendering to reduce the burden on web browsers and provide enhanced security[citation needed]. This can be done for any part of the application or the entire project, allowing for content-rich pages to be singled out for server-side rendering.[8] It can also be done only for first time visitors, to reduce the burden on web browsers that have yet to download any of the site's assets.[9] The "hot reloading" feature detects changes as they are made and re-renders the appropriate pages so the server avoids the need to be restarted. This allows changes made to the application code to be immediately reflected in the web browser, though some browsers will require the page to be refreshed.[8] The software uses page-based routing for developer convenience and includes support for dynamic routing. Other features include hot-module replacement so that modules can be replaced live, automatic code splitting, which only includes code necessary to load the page, and page prefetching to reduce load time.[8]
    </p>

  </div>
</div>